@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

nav {
    height: 80px;
    display: flex;
    align-items: center;
}

img {
    width: 100%;
}

.container {
    padding: 80px 0;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

h2 {
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 2px;
}


h5 {
    font-size: 18px;
    margin-bottom: 1rem;
    color: #7342d6;
    letter-spacing: 2px;
}

.purple {
    color: #7342d6;
}

/* NAV */


.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    width: 50px;
    margin-right: 16px;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

.nav__link {
    margin: 0 24px;
    text-decoration: none;
    color: #243e63;
    font-weight: bold;
}

.logo__container {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 28px;
    font-weight: 900;
    color: black;
}

.logo__title {
    margin-left: 24px;
    color: black;
}

.nav__link--primary {
    margin: 0 16px 0 48px;
}

.nav__link--sign {
    border: 3px solid #7342d6;
    border-radius: 9999px;
    color: white;
    background-color: #7342d6;
    padding: 16px 42px;
}

/* LANDING */ 

.header__wrapper {
    padding: 96px 0;
    display: flex;
}

.header__description {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.header__title {
    font-size: 48px;
}

.header__para {
    margin: 32px 0;
    font-size: 24px;
}

.input__wrapper {
    position: relative;
    max-width: 28rem;
    text-align: center;
}

.input__text {
    width: 100%;
    border-radius: 9999px;
    border-width: 2px;
    padding: 20px 190px 20px 32px;
    font-weight: 500;
    font-size: 20px;

}


.input__btn {
    position: absolute;
    top: 6px;
    right: 8px;
    background-color: #7342d6;
    color: white;
    padding: 16px 24px;
    border-radius: 9999px;
    font-size: 18px;
    font-weight: 500;
    border: none;
}

.customer__wrapper {
    margin-top: 54px;
}

.customer__para {
    font-weight: 700;
    color: rgb(160, 174, 192);
    letter-spacing: 1px;
}

.customer__img {
    margin-top: 18px;
    opacity: 0.5;
}


.header__img--wrapper {
    width: 60%;
}

/* SERVICES */

.service__title--wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.service__para {
    width: 100%;
    max-width: 650px;
    margin-top: 24px;
    font-size: 18px;
    text-align: center;
    line-height: 1.625;
    font-weight: 500;
    color: rgb(124 139 161) ;
}

.services {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
}

.service {
    display: flex;
    width: calc(100%/3);
    padding: 32px 18px;
    
}

.service__description {
    display: flex;
    flex-direction: column;
    margin: 0 0 20px 14px;
}

.service__icon {
    font-size: 24px;
    color: #7342d6;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(226, 232, 240);
    border-radius: 9999px;
    padding: 18px;
}


.service__description--title {
    padding-bottom: 18px;
    font-size: 24px;
}

.service__description--para {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 500;
    line-height: 2;
    color: rgb(124 139 161);
}

/* QUALITY */

.quality__wrapper {
    display: flex;
}

.quality__description {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}


.quality__para {
    width: 100%;
    max-width: 650px;
    margin-top: 24px;
    font-size: 18px;
    line-height: 1.625;
    font-weight: 500;
    color: rgb(124 139 161);
    margin-bottom: 50px;
}

.quality__btn {
    width: 20%;
    height: 50px;
    background-color: #7342d6;
    color: white;
    border-radius: 9999px;
    font-size: 14px;
    font-weight: 600;
    border-style: none;
}

.quality__img {
    width: 50%;
    border: 1px solid rgb(226, 232, 240);
}


/* STEPS */


.steps__wrapper {
    display: flex;
}

.steps__img {
    width: 50%;
    display: flex;
    align-items: center;
}

.steps__description {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 36px;
}


.steps__list {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.step {
    display: flex;
    margin-top: 10px;
    max-width: 400px;
}

.step__num {
    font-size: 36px;
    font-weight: 600;
    color: rgb(203 213 224);
}

.step__text {
    margin-left: 32px;
}

h6 {
    font-size: 22px;
    font-weight: 500;
}

.step__para {
    margin-top: 10px;
    font-size: 16px;
    line-height: 2;
    color: rgb(113 128 150);
}


/* VALUES */

.values__wrapper {
    display: flex;
}

.values__description {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-right: 24px;
}


.values__para {
    width: 100%;
    max-width: 550px;
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.625;
    font-weight: 500;
    color: rgb(124 139 161);
}

.values {
    display: flex;
    margin: 28px 0 48px;
}

.affordable__value{
    width: 50%;
    margin-right: 22px;
}

.affordable__title {
    display: flex;
    align-items: center;
}

.affordable__sign {
    font-size: 20px;
    color: rgb(39 103 73 );
    background-color: rgb(154 230 180);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(226, 232, 240);
    border-radius: 9999px;
}

.affordable__subtitle {
    margin-left: 12px;
    font-weight: 700;
}

.affordable__para {
    margin-top: 10px;
    line-height: 1.5;
    color: rgb(113 128 150);
}


.professionalism__value {
    width: 50%;
}

.professionalism__title {
    display: flex;
    align-items: center;
}

.professionalism__sign {
    font-size: 20px;
    color:rgb(155 44 44);
    background-color: rgb(254 178 178);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(226, 232, 240);
    border-radius: 9999px;
}

.professionalism__subtitle {
    margin-left: 12px;
    font-weight: 700;
}

.professionalism__para {
    margin-top: 10px;
    line-height: 1.5;
    color: rgb(113 128 150);
    
}



.values__btn {
    width: 20%;
    height: 50px;
    background-color: #7342d6;
    color: white;
    border-radius: 9999px;
    font-size: 14px;
    font-weight: 600;
    border-style: none;
}


.values__img {
    width: 50%;
    display: flex;
    align-items: center;
}


/* PRICES */

.prices__title--wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prices__para {
    width: 100%;
    max-width: 650px;
    margin-top: 24px;
    font-size: 18px;
    text-align: center;
    line-height: 1.625;
    font-weight: 500;
    color: rgb(124 139 161) ;
}


.plans {
    display: flex;
    align-items: center;
    /* flex wrap for media queries*/
    margin-top: 50px;
}


.plan {
    display: flex;
    width: calc(100%/3);
    flex-direction: column;
    text-align: center;
    margin: 0 24px;
}


.personal__border--color {
    position: absolute;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;    
    height: 10px;
    width: 352px;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.enterprise__border--color {
    position: absolute;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;    
    height: 10px;
    width: 352px;
    background: linear-gradient(115deg, rgb(245,101,101) 0%, rgb(254,178,178) 100%);
    
}


.plan__title--wrapper {
    padding: 40px 0;
    border: 2px solid rgb(226, 232, 240);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    
}


.plan__title--business {
    padding: 40px 0;
    border-bottom: 2px solid #8e7db4;
    border-left: 2px solid rgb(226, 232, 240);
    border-right: 2px solid rgb(226, 232, 240);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    
}

h4 {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1.25px;
}

.plan__price {
    padding: 16px 0;
    font-size: 48px;
}


.price__duration {
    font-weight: 700;
    letter-spacing: 2px;
}

.plan__features {
    border-bottom: 2px solid rgb(226, 232, 240);
    border-left: 2px solid rgb(226, 232, 240);
    border-right: 2px solid rgb(226, 232, 240);
    padding: 32px;
}


.plan__features--business {
    border-bottom: 2px solid #8e7db4;
    border-left: 2px solid rgb(226, 232, 240);
    border-right: 2px solid rgb(226, 232, 240);
    padding: 32px;
}

.feature {
    margin-top: 20px ;
    color: rgb(113 128 150);
}

.business__feature {
    margin-top: 20px;
}


.btn__container {
    padding: 36px;
    border-bottom: 2px solid rgb(226, 232, 240);
    border-left: 2px solid rgb(226, 232, 240);
    border-right: 2px solid rgb(226, 232, 240);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.personal__btn {
    width: 100%;
    max-width: 200px;
    height: 60px;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    color: white;
    border-radius: 9999px;
    font-size: 14px;
    font-weight: 600;
    border-style: none;
    
}
.business__btn {
    width: 100%;
    max-width: 200px;
    height: 60px;
    background-color: white;
    color: rgb(100 21 255);
    border-radius: 9999px;
    font-size: 14px;
    font-weight: 600;
    border-style: none;
    
}
.enterprise__btn {
    width: 100%;
    max-width: 200px;
    height: 60px;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
    color: white;
    border-radius: 9999px;
    font-size: 14px;
    font-weight: 600;
    border-style: none;
    
}

.business__primary {
    color: white;
    background-color: #7342d6;
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
    border-radius: 8px
}
